<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order History</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5 text-center">
<h3>Order History</h3>
<hr>

<form method="get" th:action="@{/order/history}">
  <div class="form-group">
    <label for="author">Enter Your Name</label>
    <input type="text" class="form-control" id="author"
           name="author" placeholder="Enter your name">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

</body>
</html>